*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.principal {
    width: 100vw;
	height: 100vh;
    background-image: url(./images/gato-celoso.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* MEJORAS */
	background-attachment: fixed;
	background-color: dodgerblue;
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

#header {
    width: 100vw;
    height:10rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0,0,0.8);
    padding-left: 1rem;
}

h1 {
    font-size: 5rem;
    color: dodgerblue;
}

.fondo {
    height: 50rem;
    display: flex;
    justify-content: flex-start;
}



.grupoBotones {
    width: 320px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* estilo de botones */
.button {
    background-color: rgb(27, 89, 212);
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.button:hover {
    background-color: rgba(0, 0,0,0.8);
}

a:visited {
    color: none;
  }
/* termina estilo botones */

