*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.principal {
    width: 100vw;
	  height: 100vh;
    background-image: url(./images/gato-celoso.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* MEJORAS */
	background-attachment: fixed;
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

#header {
    width: 100vw;
    height:10rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0,0,0.8);
    padding-left: 1rem;
}

h1 {
    font-size: 5rem;
    color: dodgerblue;
}

#central {
    height: 50rem;
    display: flex;
    justify-content: flex-start;
}



.grupoBotones {
    width: 320px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* estilo de botones */

.button {
    background-color: rgb(27, 89, 212);
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.button:hover {
    background-color: rgba(0, 0,0,0.8);
}


/* termina estilo botones */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* CONTENIDO MODAL */

.center-flex {
  display: flex;
  justify-content: center;
}

.controls {
    height: 20rem;
    width:  20rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.image {
    height: 5rem;
}

