*{
	margin: 0;
	padding: 0;
}

.principal{
	width: 100vw;
	height: 100vh;
	background-image: url(images/sala.webp);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	/* MEJORAS */
	background-attachment: fixed;
	background-color: blue;
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

canvas{
	background-color: violet;
	position: absolute;
	top: 20px;
	left: 470px;
	border-radius: 7px;
}

.start {
	width: 400px;
	height: 50px;
	background-color: blue;
	position: absolute;
	top: 575px;
	left: 470px;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  